$title-size: 10rem;
$data-size: 25rem;

.property {
  display: grid;
  grid-template-columns: $title-size $data-size;
  padding: 0.2rem 0;
  &.property__short {
    grid-template-columns: $title-size $data-size / 2;
  }
}

.property--title {
  font-weight: bold;
}
